{%  render 'partials/head.liquid' %}

{%  render 'partials/headerNieuws.liquid' %}

<main class="main-news-detail">
    <img src="https://fdnd-agency.directus.app/assets/{{artikel.image}}" alt="{{newsItem.title}}">
    <time datetime="{{ artikel.date }}">Geplaatst: {{ artikel.date | date: '%d-%m-%Y'}}</time>
    <p>
        {{ artikel.title }}
    </p>
    <p>
        {{ artikel.body }}
    </p>

    <form action="/nieuws/{{ artikel.slug }}" method="POST" class="comment-form">
        <label>Laat een bericht achter</label>
        <input type="text" name="name" placeholder="Naam:" required>
        <textarea name="message" id="" placeholder="Opmerking:" required></textarea>
        <input type="hidden" name="newsID" value="{{ artikel.id }}">
        <button type="submit">
            {% if verstuurd %}
                <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5927 0.382073C16.4804 0.261007 16.3468 0.164914 16.1995 0.0993378C16.0523 0.0337616 15.8943 0 15.7348 0C15.5753 0 15.4174 0.0337616 15.2701 0.0993378C15.1229 0.164914 14.9892 0.261007 14.8769 0.382073L5.87482 10.0179L2.09274 5.96207C1.97611 5.84164 1.83843 5.74694 1.68756 5.68339C1.5367 5.61983 1.3756 5.58866 1.21346 5.59166C1.05133 5.59466 0.891333 5.63177 0.742613 5.70086C0.593893 5.76996 0.459361 5.86969 0.346698 5.99437C0.234035 6.11904 0.145447 6.26621 0.0859921 6.42748C0.0265373 6.58876 -0.00262033 6.76097 0.000184776 6.93428C0.00298988 7.1076 0.0377027 7.27863 0.102341 7.4376C0.166979 7.59658 0.260276 7.74039 0.376906 7.86082L5.01691 12.8208C5.12924 12.9419 5.26288 13.038 5.41013 13.1036C5.55737 13.1691 5.71531 13.2029 5.87482 13.2029C6.03434 13.2029 6.19227 13.1691 6.33952 13.1036C6.48677 13.038 6.62041 12.9419 6.73274 12.8208L16.5927 2.28082C16.7154 2.15987 16.8133 2.01307 16.8802 1.84967C16.9472 1.68628 16.9817 1.50983 16.9817 1.33145C16.9817 1.15307 16.9472 0.976618 16.8802 0.813223C16.8133 0.649828 16.7154 0.503028 16.5927 0.382073Z" fill="white"/>
                </svg>
            {% else %}
                Verstuur
            {% endif %}
        </button>
        <ul>
            {% for bericht in berichten %}
                <li>
                    <p> {{ bericht.name }} </p>
                    <time datetime="{{ bericht.date_created }}"> {{ bericht.date_created | date: '%d/%m/%Y'}} </time>
                    <p> {{ bericht.comment }} </p>
                </li>
                {% else %}
                    <li>Er zijn nog geen opmerkingen.</li>
            {% endfor %}
        </ul>
    </form>
</main>

{%  render 'partials/navbar.liquid', huidigPad: huidigPad %}

{%  render 'partials/foot.liquid' %}