{%  render 'partials/head.liquid' %}

{%  render 'partials/headerNieuws.liquid' %}

<main class="main-news-detail">
    <img src="https://fdnd-agency.directus.app/assets/{{artikel.image}}" alt="{{newsItem.title}}">
    <time datetime="{{ artikel.date }}">Geplaatst: {{ artikel.date | date: '%d-%m-%Y'}}</time>
    <p>
        {{ artikel.title }}
    </p>
    <p>
        {{ artikel.body }}
    </p>
</main>

{%  render 'partials/navbar.liquid', huidigPad: huidigPad %}

{%  render 'partials/foot.liquid' %}

