    <form action="/nieuws/{{ artikel.slug }}" method="POST" class="comment-form">
        <label>Laat een bericht achter</label>
        <input type="text" name="name" placeholder="Naam:" required>
        <textarea name="message" id="" placeholder="Opmerking:" required></textarea>
        <input type="hidden" name="newsID" value="{{ artikel.id }}">
        <button type="submit">
            verstuur
        </button>
        <ul>
            {% for bericht in berichten %}
                <li>
                    <p> {{ bericht.name }} </p>
                    <time datetime="{{ bericht.date_created }}"> {{ bericht.date_created | date: '%d/%m/%Y'}} </time>
                    <p> {{ bericht.comment }} </p>
                </li>
                {% else %}
                    <li>Er zijn nog geen opmerkingen.</li>
            {% endfor %}
        </ul>
    </form>